.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-ZYrqQCSfU);
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tagline:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.text___6OHoy {
  color: var(--token-IQATk1fOJ);
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 45px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  font-weight: 700;
  color: #000000;
  line-height: 1.2;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 31px;
  min-width: 0;
}
.text__ekbWb {
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
  color: var(--token-k83QV_imD);
  background: var(--token-IQATk1fOJ);
  margin-bottom: 41px;
  padding: 31px 50px;
}
@media (min-width: 0px) and (max-width: 943px) {
  .text__ekbWb {
    margin-right: 26px;
    margin-left: 26px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerBottom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
