@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Open+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Mako%3Aital%2Cwght%400%2C400&display=swap");

.plasmic_tokens {
  --token-IQATk1fOJ: var(--token-7rN2kiZLp);
  --plasmic-token-dark-blue: var(--token-IQATk1fOJ);
  --token-PgIxlN0Lj: #79d8ed;
  --plasmic-token-light-blue: var(--token-PgIxlN0Lj);
  --token-8UNFBsAK-: #daedf1e6;
  --plasmic-token-light-green: var(--token-8UNFBsAK-);
  --token-ZYrqQCSfU: #fffdf5;
  --plasmic-token-off-white: var(--token-ZYrqQCSfU);
  --token-Hkjdx-yXf: #860916;
  --plasmic-token-dark-red: var(--token-Hkjdx-yXf);
  --token-k83QV_imD: #ffffff;
  --plasmic-token-white: var(--token-k83QV_imD);
  --token-3Xuab26qj: #daedf1;
  --plasmic-token-lighter-blue: var(--token-3Xuab26qj);
  --token-7rN2kiZLp: #126180;
  --plasmic-token-clear-dark-blue: var(--token-7rN2kiZLp);
  --token--QyTZN3B7: #2b2b2b;
  --plasmic-token-unnamed-style-token: var(--token--QyTZN3B7);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(
    .global_unnamedGlobalGroupOfVariants_unnamedVariant
  ) {
  --mixin-NWfVAptDcU0_font-family: "Inter", sans-serif;
  --mixin-NWfVAptDcU0_font-size: 16px;
  --mixin-NWfVAptDcU0_font-weight: 400;
  --mixin-NWfVAptDcU0_font-style: normal;
  --mixin-NWfVAptDcU0_color: #535353;
  --mixin-NWfVAptDcU0_text-align: left;
  --mixin-NWfVAptDcU0_text-transform: none;
  --mixin-NWfVAptDcU0_line-height: 1.5;
  --mixin-NWfVAptDcU0_letter-spacing: normal;
  --mixin-NWfVAptDcU0_white-space: pre-wrap;
  --mixin-NWfVAptDcU0_user-select: text;
  --mixin-NWfVAptDcU0_text-decoration-line: none;
  --mixin-NWfVAptDcU0_text-overflow: clip;
  --mixin-mjy3Dsk5tIl_color: #000000;
  --mixin-mjy3Dsk5tIl_font-weight: 900;
  --mixin-mjy3Dsk5tIl_font-size: 72px;
  --mixin-mjy3Dsk5tIl_line-height: 1;
  --mixin-mjy3Dsk5tIl_letter-spacing: -4px;
  --mixin-mjy3Dsk5tIl_white-space: pre-wrap;
  --mixin-iIl3Gp3FPME_color: #000000;
  --mixin-iIl3Gp3FPME_font-size: 48px;
  --mixin-iIl3Gp3FPME_font-weight: 700;
  --mixin-iIl3Gp3FPME_letter-spacing: -1px;
  --mixin-iIl3Gp3FPME_line-height: 1.1;
  --mixin-iIl3Gp3FPME_white-space: pre-wrap;
  --mixin-EoWtOCPefYC_color: #0070f3;
  --mixin-EoWtOCPefYC_white-space: pre-wrap;
  --mixin-leeXvn9gZaT_color: #000000;
  --mixin-leeXvn9gZaT_font-size: 32px;
  --mixin-leeXvn9gZaT_font-weight: 600;
  --mixin-leeXvn9gZaT_letter-spacing: -0.8px;
  --mixin-leeXvn9gZaT_line-height: 1.2;
  --mixin-leeXvn9gZaT_white-space: pre-wrap;
  --mixin-0PtpHOoon3N_color: #000000;
  --mixin-0PtpHOoon3N_font-size: 24px;
  --mixin-0PtpHOoon3N_font-weight: 600;
  --mixin-0PtpHOoon3N_letter-spacing: -0.5px;
  --mixin-0PtpHOoon3N_line-height: 1.3;
  --mixin-0PtpHOoon3N_white-space: pre-wrap;
  --mixin-0K_GDD1qzYN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0K_GDD1qzYN_border-bottom-color: #dddddd;
  --mixin-0K_GDD1qzYN_border-bottom-style: solid;
  --mixin-0K_GDD1qzYN_border-bottom-width: 1px;
  --mixin-0K_GDD1qzYN_border-left-color: #dddddd;
  --mixin-0K_GDD1qzYN_border-left-style: solid;
  --mixin-0K_GDD1qzYN_border-left-width: 1px;
  --mixin-0K_GDD1qzYN_border-right-color: #dddddd;
  --mixin-0K_GDD1qzYN_border-right-style: solid;
  --mixin-0K_GDD1qzYN_border-right-width: 1px;
  --mixin-0K_GDD1qzYN_border-top-color: #dddddd;
  --mixin-0K_GDD1qzYN_border-top-style: solid;
  --mixin-0K_GDD1qzYN_border-top-width: 1px;
  --mixin-0K_GDD1qzYN_border-bottom-left-radius: 3px;
  --mixin-0K_GDD1qzYN_border-bottom-right-radius: 3px;
  --mixin-0K_GDD1qzYN_border-top-left-radius: 3px;
  --mixin-0K_GDD1qzYN_border-top-right-radius: 3px;
  --mixin-0K_GDD1qzYN_font-family: "Inconsolata";
  --mixin-0K_GDD1qzYN_padding-bottom: 1px;
  --mixin-0K_GDD1qzYN_padding-left: 4px;
  --mixin-0K_GDD1qzYN_padding-right: 4px;
  --mixin-0K_GDD1qzYN_padding-top: 1px;
  --mixin-0K_GDD1qzYN_white-space: pre-wrap;
  --mixin-LD8ro2O9GGU_border-left-color: #dddddd;
  --mixin-LD8ro2O9GGU_border-left-style: solid;
  --mixin-LD8ro2O9GGU_border-left-width: 3px;
  --mixin-LD8ro2O9GGU_color: #888888;
  --mixin-LD8ro2O9GGU_padding-left: 10px;
  --mixin-LD8ro2O9GGU_white-space: pre-wrap;
  --mixin-lrBGI4M_VDUZ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lrBGI4M_VDUZ_border-bottom-color: #dddddd;
  --mixin-lrBGI4M_VDUZ_border-bottom-style: solid;
  --mixin-lrBGI4M_VDUZ_border-bottom-width: 1px;
  --mixin-lrBGI4M_VDUZ_border-left-color: #dddddd;
  --mixin-lrBGI4M_VDUZ_border-left-style: solid;
  --mixin-lrBGI4M_VDUZ_border-left-width: 1px;
  --mixin-lrBGI4M_VDUZ_border-right-color: #dddddd;
  --mixin-lrBGI4M_VDUZ_border-right-style: solid;
  --mixin-lrBGI4M_VDUZ_border-right-width: 1px;
  --mixin-lrBGI4M_VDUZ_border-top-color: #dddddd;
  --mixin-lrBGI4M_VDUZ_border-top-style: solid;
  --mixin-lrBGI4M_VDUZ_border-top-width: 1px;
  --mixin-lrBGI4M_VDUZ_border-bottom-left-radius: 3px;
  --mixin-lrBGI4M_VDUZ_border-bottom-right-radius: 3px;
  --mixin-lrBGI4M_VDUZ_border-top-left-radius: 3px;
  --mixin-lrBGI4M_VDUZ_border-top-right-radius: 3px;
  --mixin-lrBGI4M_VDUZ_font-family: "Inconsolata";
  --mixin-lrBGI4M_VDUZ_padding-bottom: 3px;
  --mixin-lrBGI4M_VDUZ_padding-left: 6px;
  --mixin-lrBGI4M_VDUZ_padding-right: 6px;
  --mixin-lrBGI4M_VDUZ_padding-top: 3px;
  --mixin-lrBGI4M_VDUZ_white-space: pre-wrap;
  --mixin-zrvOw9JxLF5n_display: flex;
  --mixin-zrvOw9JxLF5n_flex-direction: column;
  --mixin-zrvOw9JxLF5n_align-items: stretch;
  --mixin-zrvOw9JxLF5n_justify-content: flex-start;
  --mixin-zrvOw9JxLF5n_list-style-position: outside;
  --mixin-zrvOw9JxLF5n_padding-left: 40px;
  --mixin-zrvOw9JxLF5n_position: relative;
  --mixin-zrvOw9JxLF5n_list-style-type: disc;
  --mixin-zrvOw9JxLF5n_white-space: pre-wrap;
  --mixin-y06ZYb-tSd1X_display: flex;
  --mixin-y06ZYb-tSd1X_flex-direction: column;
  --mixin-y06ZYb-tSd1X_align-items: stretch;
  --mixin-y06ZYb-tSd1X_justify-content: flex-start;
  --mixin-y06ZYb-tSd1X_list-style-position: outside;
  --mixin-y06ZYb-tSd1X_padding-left: 40px;
  --mixin-y06ZYb-tSd1X_position: relative;
  --mixin-y06ZYb-tSd1X_list-style-type: decimal;
  --mixin-y06ZYb-tSd1X_white-space: pre-wrap;
  --mixin-KwKXFV3tGJbv_color: #000000;
  --mixin-KwKXFV3tGJbv_font-size: 20px;
  --mixin-KwKXFV3tGJbv_font-weight: 600;
  --mixin-KwKXFV3tGJbv_letter-spacing: -0.3px;
  --mixin-KwKXFV3tGJbv_line-height: 1.5;
  --mixin-KwKXFV3tGJbv_white-space: pre-wrap;
  --mixin-NIVehE8emY9I_color: #000000;
  --mixin-NIVehE8emY9I_font-size: 16px;
  --mixin-NIVehE8emY9I_font-weight: 600;
  --mixin-NIVehE8emY9I_line-height: 1.5;
  --mixin-NIVehE8emY9I_white-space: pre-wrap;
  --mixin-ffeMFYQ8EfxR_color: #3291ff;
  --mixin-ffeMFYQ8EfxR_white-space: pre-wrap;
  --mixin-ZXaypoC7lfyI_white-space: pre-wrap;
  --mixin-xyttoJtA3qb4_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-NWfVAptDcU0_font-family);
  font-size: var(--mixin-NWfVAptDcU0_font-size);
  font-weight: var(--mixin-NWfVAptDcU0_font-weight);
  font-style: var(--mixin-NWfVAptDcU0_font-style);
  color: var(--mixin-NWfVAptDcU0_color);
  text-align: var(--mixin-NWfVAptDcU0_text-align);
  text-transform: var(--mixin-NWfVAptDcU0_text-transform);
  line-height: var(--mixin-NWfVAptDcU0_line-height);
  letter-spacing: var(--mixin-NWfVAptDcU0_letter-spacing);
  white-space: var(--mixin-NWfVAptDcU0_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-mjy3Dsk5tIl_color);
  font-weight: var(--mixin-mjy3Dsk5tIl_font-weight);
  font-size: var(--mixin-mjy3Dsk5tIl_font-size);
  line-height: var(--mixin-mjy3Dsk5tIl_line-height);
  letter-spacing: var(--mixin-mjy3Dsk5tIl_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-iIl3Gp3FPME_color);
  font-size: var(--mixin-iIl3Gp3FPME_font-size);
  font-weight: var(--mixin-iIl3Gp3FPME_font-weight);
  letter-spacing: var(--mixin-iIl3Gp3FPME_letter-spacing);
  line-height: var(--mixin-iIl3Gp3FPME_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-EoWtOCPefYC_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-leeXvn9gZaT_color);
  font-size: var(--mixin-leeXvn9gZaT_font-size);
  font-weight: var(--mixin-leeXvn9gZaT_font-weight);
  letter-spacing: var(--mixin-leeXvn9gZaT_letter-spacing);
  line-height: var(--mixin-leeXvn9gZaT_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-0PtpHOoon3N_color);
  font-size: var(--mixin-0PtpHOoon3N_font-size);
  font-weight: var(--mixin-0PtpHOoon3N_font-weight);
  letter-spacing: var(--mixin-0PtpHOoon3N_letter-spacing);
  line-height: var(--mixin-0PtpHOoon3N_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-0K_GDD1qzYN_font-family);
  border-radius: var(--mixin-0K_GDD1qzYN_border-top-left-radius)
    var(--mixin-0K_GDD1qzYN_border-top-right-radius)
    var(--mixin-0K_GDD1qzYN_border-bottom-right-radius)
    var(--mixin-0K_GDD1qzYN_border-bottom-left-radius);
  padding: var(--mixin-0K_GDD1qzYN_padding-top)
    var(--mixin-0K_GDD1qzYN_padding-right)
    var(--mixin-0K_GDD1qzYN_padding-bottom)
    var(--mixin-0K_GDD1qzYN_padding-left);
  border-top: var(--mixin-0K_GDD1qzYN_border-top-width)
    var(--mixin-0K_GDD1qzYN_border-top-style)
    var(--mixin-0K_GDD1qzYN_border-top-color);
  border-right: var(--mixin-0K_GDD1qzYN_border-right-width)
    var(--mixin-0K_GDD1qzYN_border-right-style)
    var(--mixin-0K_GDD1qzYN_border-right-color);
  border-bottom: var(--mixin-0K_GDD1qzYN_border-bottom-width)
    var(--mixin-0K_GDD1qzYN_border-bottom-style)
    var(--mixin-0K_GDD1qzYN_border-bottom-color);
  border-left: var(--mixin-0K_GDD1qzYN_border-left-width)
    var(--mixin-0K_GDD1qzYN_border-left-style)
    var(--mixin-0K_GDD1qzYN_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-LD8ro2O9GGU_color);
  padding-left: var(--mixin-LD8ro2O9GGU_padding-left);
  border-left: var(--mixin-LD8ro2O9GGU_border-left-width)
    var(--mixin-LD8ro2O9GGU_border-left-style)
    var(--mixin-LD8ro2O9GGU_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-lrBGI4M_VDUZ_font-family);
  border-radius: var(--mixin-lrBGI4M_VDUZ_border-top-left-radius)
    var(--mixin-lrBGI4M_VDUZ_border-top-right-radius)
    var(--mixin-lrBGI4M_VDUZ_border-bottom-right-radius)
    var(--mixin-lrBGI4M_VDUZ_border-bottom-left-radius);
  padding: var(--mixin-lrBGI4M_VDUZ_padding-top)
    var(--mixin-lrBGI4M_VDUZ_padding-right)
    var(--mixin-lrBGI4M_VDUZ_padding-bottom)
    var(--mixin-lrBGI4M_VDUZ_padding-left);
  border-top: var(--mixin-lrBGI4M_VDUZ_border-top-width)
    var(--mixin-lrBGI4M_VDUZ_border-top-style)
    var(--mixin-lrBGI4M_VDUZ_border-top-color);
  border-right: var(--mixin-lrBGI4M_VDUZ_border-right-width)
    var(--mixin-lrBGI4M_VDUZ_border-right-style)
    var(--mixin-lrBGI4M_VDUZ_border-right-color);
  border-bottom: var(--mixin-lrBGI4M_VDUZ_border-bottom-width)
    var(--mixin-lrBGI4M_VDUZ_border-bottom-style)
    var(--mixin-lrBGI4M_VDUZ_border-bottom-color);
  border-left: var(--mixin-lrBGI4M_VDUZ_border-left-width)
    var(--mixin-lrBGI4M_VDUZ_border-left-style)
    var(--mixin-lrBGI4M_VDUZ_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-zrvOw9JxLF5n_display);
  flex-direction: var(--mixin-zrvOw9JxLF5n_flex-direction);
  align-items: var(--mixin-zrvOw9JxLF5n_align-items);
  justify-content: var(--mixin-zrvOw9JxLF5n_justify-content);
  list-style-position: var(--mixin-zrvOw9JxLF5n_list-style-position);
  padding-left: var(--mixin-zrvOw9JxLF5n_padding-left);
  position: var(--mixin-zrvOw9JxLF5n_position);
  list-style-type: var(--mixin-zrvOw9JxLF5n_list-style-type);
  flex-column-gap: var(--mixin-zrvOw9JxLF5n_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-y06ZYb-tSd1X_display);
  flex-direction: var(--mixin-y06ZYb-tSd1X_flex-direction);
  align-items: var(--mixin-y06ZYb-tSd1X_align-items);
  justify-content: var(--mixin-y06ZYb-tSd1X_justify-content);
  list-style-position: var(--mixin-y06ZYb-tSd1X_list-style-position);
  padding-left: var(--mixin-y06ZYb-tSd1X_padding-left);
  position: var(--mixin-y06ZYb-tSd1X_position);
  list-style-type: var(--mixin-y06ZYb-tSd1X_list-style-type);
  flex-column-gap: var(--mixin-y06ZYb-tSd1X_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-KwKXFV3tGJbv_color);
  font-size: var(--mixin-KwKXFV3tGJbv_font-size);
  font-weight: var(--mixin-KwKXFV3tGJbv_font-weight);
  letter-spacing: var(--mixin-KwKXFV3tGJbv_letter-spacing);
  line-height: var(--mixin-KwKXFV3tGJbv_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-NIVehE8emY9I_color);
  font-size: var(--mixin-NIVehE8emY9I_font-size);
  font-weight: var(--mixin-NIVehE8emY9I_font-weight);
  line-height: var(--mixin-NIVehE8emY9I_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-ffeMFYQ8EfxR_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
