.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 943px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tagline:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.text__gmZqT {
  color: var(--token-IQATk1fOJ);
}
.ourTeamSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #4bb2f1;
  min-width: 0;
  padding: 50px 8px 0px;
}
@media (min-width: 0px) and (max-width: 943px) {
  .ourTeamSection {
    padding-bottom: 21px;
    height: auto;
    margin: 0px;
  }
}
.columns__jp5Yl {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 1380px;
  padding: 8px;
}
.columns__jp5Yl > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 943px) {
  .columns__jp5Yl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .columns__jp5Yl > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nacWc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 943px) {
  .column__nacWc {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.reveal__saaup:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.scrollParallax__jgLC:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h2__lvTv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 13px;
  padding-bottom: 13px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.reveal__mkByg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.columns__bxRRs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 8px;
}
.columns__bxRRs > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 70px);
  width: calc(100% + 70px);
}
.columns__bxRRs > :global(.__wab_flex-container) > *,
.columns__bxRRs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__bxRRs > :global(.__wab_flex-container) > picture > img,
.columns__bxRRs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 70px;
}
.columns__bxRRs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 8px;
}
.columns__bxRRs > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 70px) * 6 / 12);
}
.columns__bxRRs > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 70px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 943px) {
  .columns__bxRRs {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .columns__bxRRs > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .columns__bxRRs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .columns__bxRRs > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 70px) * 12 / 12);
  }
}
.column__piHlL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  filter: blur(0px);
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 8px;
}
.img__hdnFy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 336px;
  min-width: 0;
  flex-shrink: 0;
}
.img__hdnFy > picture > img {
  object-fit: cover;
}
.img__hdnFy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 943px) {
  .img__hdnFy {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__rPgBr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0b6298;
  min-width: 0;
  padding: 13px 8px 31px 21px;
}
.freeBox__rPgBr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__rPgBr > :global(.__wab_flex-container) > *,
.freeBox__rPgBr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rPgBr > :global(.__wab_flex-container) > picture > img,
.freeBox__rPgBr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__rPgBr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0b6298;
  min-width: 0;
  padding: 13px 8px 31px 21px;
}
.h1__x23Um {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h3__yCaiV {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: normal;
  font-family: "Mako", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__xSynK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__pEfSy {
  font-size: 18px;
  font-weight: 300;
  color: #ffffffb3;
  font-family: "Mako", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__b5LFw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 0px;
}
.freeBox__z0Qau {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #0b6298;
  margin-bottom: 0px;
  min-width: 0;
  min-height: 0;
  padding: 13px 8px 31px 21px;
}
.freeBox__z0Qau > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__z0Qau > :global(.__wab_flex-container) > *,
.freeBox__z0Qau > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z0Qau > :global(.__wab_flex-container) > picture > img,
.freeBox__z0Qau
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__z0Qau {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #0b6298;
  margin-bottom: 0px;
  min-width: 0;
  min-height: 0;
  padding: 13px 8px 31px 21px;
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__z0Qau {
    width: 100%;
    align-self: center;
    max-width: none;
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__z0Qau > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__z0Qau {
    width: 100%;
    align-self: center;
    max-width: none;
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 0;
    display: none;
  }
}
.h1__y2Or {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h3__evxDq {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: normal;
  font-family: "Mako", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__rjLDv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__xgvv5 {
  font-size: 18px;
  font-weight: 300;
  color: #ffffffb3;
  font-family: "Mako", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__ceCy3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yxJim {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 336px;
  min-width: 0;
  flex-shrink: 0;
}
.img__yxJim > picture > img {
  object-fit: cover;
}
.img__yxJim > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 943px) {
  .img__yxJim {
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__fxjmj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0b6298;
  min-width: 0;
  padding: 13px 8px 31px 21px;
}
.freeBox__fxjmj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__fxjmj > :global(.__wab_flex-container) > *,
.freeBox__fxjmj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fxjmj > :global(.__wab_flex-container) > picture > img,
.freeBox__fxjmj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__fxjmj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0b6298;
  min-width: 0;
  padding: 13px 8px 31px 21px;
}
.h1___8QpTd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h3__pai0S {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: normal;
  font-family: "Mako", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__ar6Ea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__dcgJr {
  font-size: 18px;
  font-weight: 300;
  color: #ffffffb3;
  font-family: "Mako", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__ihl9U {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--token-ZYrqQCSfU);
  width: 100%;
  min-width: 0;
  padding: 0px 64px 68px;
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__ihl9U {
    width: 100%;
    min-width: 0;
    padding: 10px 32px 28px;
  }
}
.freeBox__bxEpl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__bxEpl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bxEpl > :global(.__wab_flex-container) > *,
.freeBox__bxEpl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bxEpl > :global(.__wab_flex-container) > picture > img,
.freeBox__bxEpl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.freeBox__bxEpl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__bxEpl {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__bxEpl > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__bxEpl > :global(.__wab_flex-container) > *,
  .freeBox__bxEpl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bxEpl > :global(.__wab_flex-container) > picture > img,
  .freeBox__bxEpl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__bxEpl {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__ffMn4 {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  box-shadow: none;
  align-self: flex-start;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 63px 24px 24px;
}
.freeBox__ffMn4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ffMn4 > :global(.__wab_flex-container) > *,
.freeBox__ffMn4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ffMn4 > :global(.__wab_flex-container) > picture > img,
.freeBox__ffMn4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ffMn4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: none;
  box-shadow: none;
  align-self: flex-start;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 63px 24px 24px;
}
.reveal__xciHs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.scrollParallax__snZiz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___5ZXee {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___5ZXee > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___5ZXee > :global(.__wab_flex-container) > *,
.freeBox___5ZXee > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5ZXee > :global(.__wab_flex-container) > picture > img,
.freeBox___5ZXee
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___5ZXee {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.h2__qkGb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__v6O0 {
  align-self: flex-start;
  max-width: 807px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 100%;
  font-family: "Mako", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(0px + 8px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 943px) {
  .text__v6O0 {
    margin-top: calc(0px + 8px) !important;
  }
}
.freeBox___7AfUy {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox___7AfUy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___7AfUy > :global(.__wab_flex-container) > *,
.freeBox___7AfUy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7AfUy > :global(.__wab_flex-container) > picture > img,
.freeBox___7AfUy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___7AfUy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.scrollParallax__gtn9E:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.reveal__qLf0G:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.serviceRow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px 0px 8px;
}
.serviceRow > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.serviceRow > :global(.__wab_flex-container) > *,
.serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.serviceRow > :global(.__wab_flex-container) > picture > img,
.serviceRow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.serviceRow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  padding: 20px 0px 8px;
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 30px) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 30px) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 30px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 943px) {
  .serviceRow {
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .serviceRow > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .serviceRow > :global(.__wab_flex-container) > *,
  .serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .serviceRow > :global(.__wab_flex-container) > picture > img,
  .serviceRow
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 15px;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .serviceRow {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .serviceRow > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 30px) * 12 / 12);
  }
}
.column__rGQJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #0b6298;
  min-width: 0;
  padding: 30px;
}
.freeBox__rmwus {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__rmwus > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__rmwus > :global(.__wab_flex-container) > *,
.freeBox__rmwus > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rmwus > :global(.__wab_flex-container) > picture > img,
.freeBox__rmwus
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__rmwus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.h3__wouuM {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h3__luncR {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__lhuJz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 1px;
  max-width: 100%;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-style: solid;
  border-color: #ffffff;
}
.freeBox__eijMf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__lzIqz {
  font-family: "Mako", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  background: none;
  padding-left: 0px;
}
.column__jC8H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #0b6298;
  min-width: 0;
  padding: 30px;
}
.freeBox__onvl0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__onvl0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__onvl0 > :global(.__wab_flex-container) > *,
.freeBox__onvl0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__onvl0 > :global(.__wab_flex-container) > picture > img,
.freeBox__onvl0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__onvl0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.h3__tkkTz {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h3___68LYz {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__sdux5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 1px;
  max-width: 100%;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-style: solid;
  border-color: #ffffff;
}
.freeBox__e17IE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__pi9Mm {
  font-family: "Mako", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__o33OH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #0b6298;
  min-width: 0;
  padding: 30px;
}
.freeBox__l858M {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__l858M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__l858M > :global(.__wab_flex-container) > *,
.freeBox__l858M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l858M > :global(.__wab_flex-container) > picture > img,
.freeBox__l858M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__l858M {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.h3__rWxZ {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h3__fkzFa {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__jiOq5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 1px;
  max-width: 100%;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-style: solid;
  border-color: #ffffff;
}
.freeBox___4UqJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__eLqTj {
  font-family: "Mako", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__xu7Lu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #0b6298;
  min-width: 0;
  padding: 30px;
}
.freeBox___90Cn7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox___90Cn7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___90Cn7 > :global(.__wab_flex-container) > *,
.freeBox___90Cn7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___90Cn7 > :global(.__wab_flex-container) > picture > img,
.freeBox___90Cn7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox___90Cn7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.h3__gsskd {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h3__dy2Dh {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__vNJ5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 1px;
  max-width: 100%;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-style: solid;
  border-color: #ffffff;
}
.freeBox__k07YJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__hlLi8 {
  font-family: "Mako", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__sy5D3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #0b6298;
  min-width: 0;
  padding: 30px;
}
.freeBox__koAT {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__koAT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__koAT > :global(.__wab_flex-container) > *,
.freeBox__koAT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__koAT > :global(.__wab_flex-container) > picture > img,
.freeBox__koAT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__koAT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.h3__y1Fmr {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h3__fo1BN {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
}
.freeBox__jk9Gb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 1px;
  max-width: 100%;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-style: solid;
  border-color: #ffffff;
}
.freeBox__nlBd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__ab0Qt {
  font-family: "Mako", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__ghaKq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #0b6298;
  min-width: 0;
  padding: 30px;
}
.freeBox__xzV9X {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__xzV9X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__xzV9X > :global(.__wab_flex-container) > *,
.freeBox__xzV9X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xzV9X > :global(.__wab_flex-container) > picture > img,
.freeBox__xzV9X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__xzV9X {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.h3__tLoCn {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.h3__gsUBd {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___0Acfk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 1px;
  max-width: 100%;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-style: solid;
  border-color: #ffffff;
}
.freeBox__kAlvc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__h3Hdd {
  font-family: "Mako", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__j0PN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__iX2Dk {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__tQwYo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: #4bb2f1;
  min-width: 0;
  padding: 50px 32px;
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__tQwYo {
    padding-bottom: 35px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    min-height: 0;
  }
}
.foreground3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.foreground3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 943px) {
  .foreground3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .foreground3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.reveal__uCi83:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.scrollParallax__y5YsQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___3WyV7 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3WyV7 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3WyV7 > :global(.__wab_flex-container) > *,
.freeBox___3WyV7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3WyV7 > :global(.__wab_flex-container) > picture > img,
.freeBox___3WyV7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___3WyV7 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.h2__lWOpb {
  padding-top: 0px;
  color: #ffffff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 800;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 943px) {
  .h2__lWOpb {
    font-size: 32px;
  }
}
.text__fZtEo {
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #ffffff;
  text-align: center;
  font-family: "Mako", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 943px) {
  .text__fZtEo {
    font-size: 18px;
  }
}
.freeBox__oacat {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__oacat > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__oacat > :global(.__wab_flex-container) > *,
.freeBox__oacat > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oacat > :global(.__wab_flex-container) > picture > img,
.freeBox__oacat
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__oacat {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__oacat > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (min-width: 0px) and (max-width: 943px) {
  .freeBox__oacat {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__bFePz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bFePz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bFePz > :global(.__wab_flex-container) > *,
.freeBox__bFePz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bFePz > :global(.__wab_flex-container) > picture > img,
.freeBox__bFePz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__bFePz {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}
.link {
  background: #860916;
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: none;
  min-height: 0;
  border-radius: 6em;
  padding: 16px 34px;
  border: 1px solid transparent;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.link {
  background: #860916;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: none;
  min-height: 0;
  border-radius: 6em;
  padding: 16px 34px;
  border: 1px solid transparent;
}
.svg__ajOiO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___4BvLu {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Mako", sans-serif;
  text-transform: capitalize;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__czvoj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.footerBottom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
